*{
   margin: 0; 
   padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    height: 9vh;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav{
    width: 80%;
}
a {
    color: rgb(17, 0, 255);
    text-decoration: none;
}
li{list-style: none;
    font-size: 24px;
}
body{
    background-color: #40E0D0;
}   
.jos{
    margin-top: 20px;
    text-align: center;
}
article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction:column;
}
.img{
     border-radius:25%;
}
.fon{
    font-size: 6vh;
}