*{
   margin: 0; 
   padding: 0;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: aqua;
    height: 9vh;
}
ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
nav{
    width: 80%;
}
a {
    color: white;
    text-decoration: none;
}
li{
    list-style: none;
    font-size: 24px;
}
h2{
    font-size: 7vh;
    text-align: center;
    margin: 20px 0;
}
.wrap{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jos{
    margin-top: 20px;
    text-align: center;
    font-size: 5vh;
}
.img{
    width: 400px;
    height: 400px;
    border-radius:25%;
    margin-top: 20px;
}
body{
    background-color: #40E0D0;
}
article{
    margin: 10vh;
    background-color: #1E90FF;
     border-radius: 4vh;
}
.wrap1{
    display: flex;
    justify-content: space-around;

}
#event{
   text-align: center;
   color: #000000;
}




